#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 1;
    transition: top 0.3s;
  }
  
  #navbar a {
   
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  